
.news-line{
    width: 10%;
    position: absolute;
    height: .2rem;
    background-color: #AE9553;
    border: none;
    left: 0;
    top: 4rem;
 }

.quality-line{
   width: 35%;
   position: absolute;
   height: .2rem;
   background-color: #AE9553;
   border: none;
   left: 0;
}

.training-uk-line{
    width: 95%;
   position: absolute;
   left: 0;
   height: .2rem;
   background-color: #AE9553;
   border: none;

}

.why-line{
    width: 15%;
    left: 0;
    height: .2rem;
    background-color: #AE9553;
    border: none;
}


.test-line{
    width: 10%;
    top: 6rem;
    height: .2rem;
    background-color: #AE9553;
    border: none;
    position: absolute;
}

.merch-line{
    width: 10%;
    top: 6rem;
    height: .2rem;
    background-color: #AE9553;
    border: none;
    position: absolute;

}

.tick-icon{
    width: 1rem;
    position: relative;
    // top: .5rem;
    margin-right: .5rem;
}

.header-line{
    width: 10%;
    top: 12rem;
    height: .2rem;
    background-color: #AE9553;
    border: none;
    position: absolute;
}

.tick-icon-mission{
    width: 2rem;
    position: relative;
    top: .5rem;
    margin-right: .5rem;
}

.banner-con{
    display: flex;
    @media (max-width:480px){
       flex-direction: column;
     }
}

.banner{
    width: 50%;
    display: block;
    position: relative;
    z-index: -1;

    @media (max-width:480px){
       width: 100%;
       margin-bottom: 1rem;
    }

}