




// .home-img { 
// 	width:100%;
// 	height:60VH;
// 	position:relative;
// 	// background-image:url(/img/homepic.jpg);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     z-index: -1;

//     @media (max-width:900px){
//         height: 80VH;

//     }

//     @media (max-width:600px){
//         height: 70VH;

//     }

//     @media (max-width:480px){
//         height: 50VH;

//     }


// }
.header{ 
	background-color: rgba(0, 0, 0, 0.864);
	width:50%;
	height: 60VH;
	position:relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;

    
    @media (max-width:900px){
        height: 80VH;

    }

    @media (max-width:600px){
        height: 70VH;

    }

    @media (max-width:480px){
        width:73%;
        height: 60VH;

     }
}

   

    
   

.header-con{
    width: 55%;
	left: -7rem;
    position: relative;

    @media (max-width:900px){
        left: -1rem;
        top: 6rem;
         width: 90%;
    }

    
    @media (max-width:375px){
        top: 0rem;
    }
}

.header-professional { 
	color: white;
	position:absolute;
	font-family:Raleway;
	font-size:4rem;
	letter-spacing:0;
    position: relative;
    text-transform: uppercase;
    font-weight: 100;

    // @media (max-width:900px){
    //     font-size:3rem;
    // }
    @media (max-width:480px){
        font-size:3rem;
     }
}
    
.header-dogtraining { 
	color:rgba(255, 255, 255, 1);
	position:absolute;
	font-size:4rem;
    position: relative;
    margin-bottom: 5rem;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: #AE9553 solid .2rem ;

    // @media (max-width:900px){
    //     font-size: 3rem;}
    @media (max-width:480px){
        font-size:3rem;
     }
}

.header-para{
    color: white;
    font-size: 1.8rem;
	font-weight: 600;

    @media (max-width:900px){
        font-size: 1.6rem;}
}

// .serivce-title{ 
// 	font-family:Raleway;
//     color: rgb(255, 255, 255);
//     left: 17rem;
//     top: 5rem;
// 	font-size:2.2rem;
// 	letter-spacing:0;
//     margin-bottom: 3rem;

// }


// .title-para { 
//     width: 100%;
// 	color:white;
//     left: 17rem;
//     top: 7rem;
// 	font-size:20px;
// 	font-family:Raleway;
// 	letter-spacing:0;
//     font-weight: normal;
//     margin-bottom: 5rem;

// }


.service-card-con{
    // background-color: salmon;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;

    
    @media (max-width:480px){
        flex-direction: column;
    }
}


.service-card{ 
	width:30%;
    height:46vh;
	position:relative;
	background-color: #AE9553;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border-radius: .2rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem 0.3rem #000000b0;
    

    
    @media (max-width:900px){
        height:43vh;
    }

    @media (max-width:480px){
        width: 100%;
        margin-bottom: 1.5rem;
    }

}

.card-line{
    width: 100%;
    height: 5vh;
    background-color: white;
}

.service-card-img1,.service-card-img2,.service-card-img3 { 
	width:100%;
    height:25vh;
	position:absolute;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    overflow: hidden;

}

.service-card-img1 { 
	background-image: url(/img/K92crop.jpg);
}
.service-card-img2 { 
	background-image: url(/img/slider-1.jpg);

}

.service-card-img3 {
	background-image: url(/img/imprinting.jpg);

 }




.service-card-box{ 
	background-color:rgb(31, 31, 31);
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0rem;
    width: 100%;
}
.service-card-title { 
	color:rgb(255, 255, 255);
    font-size:2rem ;
    font-weight: 700;
	

    // @media (max-width:900px){
    //     font-size: 1.2rem;}
}

.service-card-btn{
    width: 40%;
    background-color: rgb(190, 159, 16);
    padding: 1rem;
    border: none;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all ease-in-out 0.3s;
    position: relative;

    @media (max-width:900px){
        width: 50%;
        }

        @media (max-width:480px){
            width: 92%;
            }

        

}

.service-card-btn:hover{
	background-color:  rgb(228, 189, 19);
	transform: scale(1.05);
}

.service-card-text{
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
	font-weight: bold;
	font-family:Raleway;

    // @media (max-width:900px){
    //    font-size: 1.2rem;
    //     }

}

.service-card-btn2{
    // width:20%;
    background-color: rgb(190, 159, 16);
    padding: 1rem;
    border: none;
	position: relative;
	float: right;
	// right: 0rem;
	border-radius: 0.2rem;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
}

.service-card-text2{
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
	font-weight: bold;
	font-family:Raleway;

}

.service-card-btn2:hover{
	background-color:  rgb(228, 189, 19);
	transform: scale(1.05);

}


.dog-training-uk-img{
    width: 50%;
    background-color: black;
    position: inherit;
    position: relative;
	background-image: url(/img/pl.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

    @media (max-width:900px){
        background-position-x: -10rem;
            
            }

    @media (max-width:768px){
        background-position-x: -16rem;
            
            }

    @media (max-width:600px){
        background-position-x: -43rem;
            
            }

    @media (max-width:480px){
        background-position-x: -55rem;
            
            }

    @media (max-width:375px){
    background-position-x: -82rem;
        
        }

}

.dog-training-uk-info{
    width: 50%;
    background-color:#0a0a0a;
    position: relative;
    padding: 3rem .5rem;
	display: flex;
	align-items: center;
}



.info-con { 
	width:440px;
	position:relative;
	margin-left: .5rem;

 
}

.info-header{
    text-align:left;
	font-size:4.6rem;
	letter-spacing:0;
    color: white;
	font-weight: 600;

    @media (max-width:480px){
        font-size:3.6rem;

    }

}
.info-sub-header{
    text-align:left;
	font-size:1.4rem;
    color: white;
	font-weight: 600;

}

.info-text{
    color: white;
	font-size: 1.6rem;
	font-weight: 400;
}

.why-choose-con{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

.why-box { 
	width:31%;
    height: 40vh;
	position:relative;
    outline: solid #AE9553 .3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-right: 3rem;



    @media (max-width:480px){
        width: 48%;
        height: 50vh;
     margin-right: 0rem;
     justify-content: center;
     padding: 1rem;

        }
}

.why-box:nth-child(3) { 
    margin-right: 0rem;
}

.why-box:nth-child(6) { 
    margin-right: 0rem;
}



.why-title{
    color: white;
	// font-weight: 900;
	
}

.why-icon{
    width: 6rem;
    margin-bottom: 1rem;
}
.why-content{
	text-align:center;
	font-size:2rem;
	letter-spacing:0;
    color:#2E8A81;
    margin-bottom: 1rem;
	font-weight: 800;

    // @media (max-width:900px){
    //     font-size:1.4rem;
    // }
}

.why-txt{
	text-align:center;
	font-size:1.5rem;
	letter-spacing:0;
    color: rgb(255, 255, 255);
	font-weight: 500;

    // @media (max-width:900px){
    //     font-size:1.1rem;
    // }
}

.why-btn{
    // width:20%;
    background-color: rgb(190, 159, 16);
    padding: 1rem;
    border: none;
	position: absolute;
	float: right;
	right: 0rem;
    bottom: -5rem;
    // top: 5rem;
	border-radius: 0.2rem;
	transition: all ease-in-out 0.3s;
	cursor: pointer;
}

.client-box{
	background-color: rgba(0, 0, 0, 0.565);
    padding: .5rem 1rem;
    outline: .2rem rgb(228, 189, 19) solid;

}

.client-text{
  color: white;
  font-size:20px;
  letter-spacing:0;
  font-weight: 500;
  font-family: raleway;

  @media (max-width:480px){
     text-align: center;}

}
// .merch__title{
   

// }

.merchandise-con{
    // background-color: salmon;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: flex-start;
    justify-content: flex-start;
	flex-direction: column;
}

.merchandise-box{
    // background-color: sandybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;


    

}
.product-card{
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: column;
   
}


.product-img{
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 255, 255) ;
    position: relative;
     background-image:url(/img/medium-dog-muzzle.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-img2{
    width: 100%;
    height: 40vh;
    background-color: rgb(255, 255, 255) ;
    position: relative;
     background-image:url(/img/k9-interactive-bite-pillow.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
    

.product-info{
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
}

.product-name{
    color: black;
    font-size: 3rem;
    text-align: center;
	font-weight: 700;


}
.product-price{

    color: #2E8A81;
    font-size: 2.5rem;
    text-align: center;
	font-weight: bold;

}

.merchandise-btn{
    width: 15%;
    border: none;
    right: 0rem;
    bottom: 0rem;
    position: absolute;
    background-color: rgb(190, 159, 16);
    padding: 1rem;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: all ease-in-out 0.3s;

    @media (max-width:900px){
        width: 20%;
    }

    @media (max-width:480px){
        width: 30%;
    }

    
}


.merchandise-btn:hover{
	background-color:  rgb(228, 189, 19);
	transform: scale(1.05);
}

.merchandise-btn-text{
	color: rgb(0, 0, 0);
    font-size: 1.4rem;
    text-decoration: none;
    width: 100%;
	font-weight: bold;
	font-family:Raleway;

}

.test-con{
    // background-color: salmon;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    
}




.test-icon{
	width: 4rem;
    z-index: 2;

}



